/server/target/
/server/.idea/

/.idea
/server/words.db
/server/words.db-shm
/server/words.db-wal
/server/.env
/wordbin-extension/target/
/wordbin-extension/dist/
/wordbin-extension/pkg/
/wordbin-types/target/

/words.db
